
@media only screen and (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
  .box1{
    height:255px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .box1, .box2, .box3{
    height:295px;
  }
}
@media only screen and (max-width: 991px) {
  .des{
    float:left;
    width:50%;
  }
  .des2{
    float:right;
    width:50%;

  }
  .des3{
    width:100%;
  }

}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 570px;
  }
  .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .box1, .box2, box3{
    height:210px;

  }
}

@media only screen and (max-width: 480px) {
  .box {
    width: 100%;
    float: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    width: 100%;
  }
  .box-3 {
    width: 100%;
  }
}
